@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, hsla(288, 20%, 75%, 1) 0%, hsla(197, 65%, 42%, 1) 100%);
}


.card {
    width: 90%;
    max-width: 470px;
    background: hsla(9, 58%, 47%, 1);
    background: rgba(103, 106, 127, 0.5);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #fff;
    color: black;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 20px;
}

.search button {
    border: 0;
    outline: 0;
    background: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search-btn {
    width: 25px;
}

.weather-icon {
    width: 50%;
    margin-top: 30px;
}

.temp {
    font-size: 80px;
    font-weight: lighter;
}

.city {
    font-size: 50px;
    font-weight: lighter;
}

.weather-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.info-icon {
    width: 60px;
}

.font-size {
    font-size: 20px;
    margin-top: 10px;
}

.weather {
    display: none;
}

.error {
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 15px;
    display: none;
}

@media screen and (max-width: 500px) {
    .search input {
        width: 50px;
    }

    .search button {
        width: 50px;
        height: 50px;
    }
}